body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Sarabun', sans-serif;
   
}




@media screen and (max-width: 305px) {
    body {
        background-color:red;
    }
    div.small {
        width:250px;
        margin: 0 auto;
        border:5px solid black;
        padding:12px;
        text-align:justify;
    }
    div.medium {
        width:250px;
        margin: 0 auto;
        border:5px solid orange;
        padding:12px;
        text-align:justify;
    }
    div.large {
        width:250px;
        margin: 0 auto;
        border:5px solid white;
        padding:12px;
        text-align:justify;
    }
    
}

@media screen and (min-width:305px) and (max-width:768px) {
    body {
        background-color:green;
    }
    .conteneur {
        display: flex;
        flex-wrap: wrap;
    }
    div.small {
        border: 5px solid black;
        padding: 12px;
        text-align: justify;
        width: 33%;
    }
    div.medium {
        width: 66%;
        border:5px solid orange;
        padding: 12px;
        text-align: justify;
    }
    div.large {
        width: 100%;
        border:5px solid white;
        padding: 12px;
        text-align: justify;
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color:blue;
    }
    .conteneur {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    div.small {
        width:33%;
        border:5px solid black;
        padding:12px;
        text-align:justify;
    }
    div.medium {
        width:33%;
        border:5px solid orange;
        padding:12px;
        text-align:justify;
    }

    div.large {
        width:33%;
        border:5px solid white;
        padding:12px;
        text-align:justify;
    }
}


/*

@media screen and (max-width:300px) {
    div.medium, div.large {
        display:none;
    }
}

@media screen and (min-width:301px) and (max-width:768px) {
    div.small, div.large {
        display:none;
    }
}

@media screen and (min-width:768px) {
    div.medium, div.small {
        display:none;
    }
} 
*/




